body{
    background-color: #333;
    padding-bottom: 50px;
}
img.logo{
    height: 200px;
}
.my-nav{
    width: 100%;
    /* background-color: rgb(34, 34, 34); */
    text-align: right;
}
.my-nav>a{
    color: #fff;
    font-size: large;
    margin-left: 50px;
}
.form-control{
    margin: 5px;
}
test{
    color: dodgerblue;
}

/* developers/index */
.profile-card{
    margin: 10px 0;
}
table td{
    /* border: solid 1px black; */
}
.footer{
    height: 20px;
    background-color: #00000028;
    font-size: small;
}
/* profile cards */
.card {
    /* resize: both; */
    background-image: linear-gradient(to right, rgb(234, 239, 241) , rgb(188, 222, 255));
    color: #000;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer
}
.card img{
    border: solid 1px #fff;
}
.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #8ed2ff;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #2984fc;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}
a:hover{
    text-decoration-color:#fff ;
}
/* about */
.about-card{
    border-bottom: solid 2px rgb(135, 211, 255);
    margin: 30px auto;
    height: 300px;
    width: 300px;
    border-radius: 8px;
    /* opacity: .9; */
    background-image: radial-gradient(rgb(109, 109, 109), rgba(211, 211, 211, 0.5))
}
.inner-about-card{
}