body{
    background-color: #333;
}
img.logo{
    height: 200px;
}
.my-nav{
    width: 100%;
    /* background-color: rgb(34, 34, 34); */
    text-align: right;
}
.my-nav>a{
    color: #fff;
    font-size: large;
    margin-left: 50px;
}
.form-control{
    margin: 5px;
}
test{
    color: dodgerblue;
}

/* developers/index */
.profile-card{
    border-radius: 15px;
    /* background-image: linear-gradient(to bottom right, rgb(48, 48, 48) , rgb(158, 158, 158)); */
    background-color: rgb(105, 148, 179);
    padding: 10px 0 0 10px;
}
table td{
    /* border: solid 1px black; */
}
.profile-card img{
    border: solid 1px white;
    border-radius: 100px;
    height: 150px;
}