body{
    background-color: #333;
    padding-bottom: 50px;
}
img.logo{
    height: 200px;
}
.my-nav{
    width: 100%;
    /* background-color: rgb(34, 34, 34); */
    text-align: right;
    text-transform: uppercase;
}
.my-nav>a{
    color: #fff;
    font-size: medium;
    padding-left: 20px;
    margin-right: 20px;
}
.my-nav>a{
    border-left: solid 1px #fff;
}
.my-nav>a:first-child{
    border-left: 0;
}
.form-control{
    margin: 5px;
}
test{
    color: dodgerblue;
}

/* developers/index */
.profile-card{
    margin: 10px 0;
}
.footer{
    height: 20px;
    background-color: #00000028;
    font-size: small;
}
/* profile cards */
.card {
    /* resize: both; */
    background-image: linear-gradient(to right, rgb(234, 239, 241) , rgb(188, 222, 255));
    color: #000;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    animation: sizeDec 1.5s;
}
.card img{
    border: solid 1px #fff;
    width: 100px;
    height: 100px;
}
.img-crop {
    object-fit: cover;
}
.hire-popup{
    overflow-y: auto;
    position:fixed;
    background-color: #f3f3f3;
    height:100%;
    top:0;
    right:0;
    z-index:1000;
    box-shadow: 1px 1px 10px 1px #00000069;
    animation: popupChat 1s forwards;
    display: none;
}
.popup-contact{
    display: block;
    background-image: linear-gradient(to right, #e4e4e4 , #f7f7f7);
    border-start-start-radius: 10px;
    min-width: 300px; 
    min-height: 430px;
    bottom: 0;
    right: 0;
    box-shadow: 1px 1px 10px 1px #00000069;
    position: fixed;
    z-index: 1;
    animation: popupChat 1s forwards;
}
.chat-socmed a{
    margin-left: 20px;
}
.popup-contact input[type=text]{
    width: 70%;
    border: 0;
    border-radius: 6px;
    height: 35px;
}
.bubble{
    position: relative;
    word-break: break-all;
    width: 75%; 
    background-color: cornflowerblue; 
    border-radius: 10px;
    margin-bottom: 10px;
}
.sent-bubble{
    background-color: #bdbdbd;
    margin-left: auto; 
    margin-right: 0;
    padding: 5px 8px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
@keyframes popupChat{
    from{
        opacity: 0;
    }
    to{
        right: 1;
    }
}
.chat-field{
    /* background-color: #8ed2ff; */
    width: 250px;
    height: 280px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 15px;
    overflow-y: auto;
    padding-right: 5px;
}
.close-chat{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #8ed2ff;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #2984fc;
    transform: scaleY(0);
    transition: all 1s;
    transform-origin: bottom;
}

.card:hover::after {
    transform: scaleY(1);
}
.card:hover{
    box-shadow: 0px 0px 5px 3px #05050579;
    z-index: 1;
    animation: sizeInc 1s forwards;
}
a:hover{
    text-decoration-color:#fff ;
}
/* about */
.about-card{
    cursor: default;
    border-bottom: solid 3px rgb(135, 211, 255);
    margin: 15px auto;
    height: 300px;
    width: 300px;
    border-radius: 8px;
    background-image: radial-gradient(rgb(109, 109, 109), rgba(211, 211, 211, 0.5));
    
    animation: colorChangeout 1s forwards, sizeDec 1s;
}
.about-card:hover,.merch-card:hover{
    
    animation: sizeInc 1s forwards, colorChangeIn 1s forwards;
}

/* merch */
.merch-card{
    margin: 30px auto;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    
    animation: colorChangeout 1s forwards;
    animation: sizeDec 1s;
    
    border-top: solid 3px rgb(169, 209, 255);
}
.merch-card img{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(153, 153, 153);
}

/* find client page */
.job-row{
    user-select: none;
    color: #000;
    background-color: #dff3ff;
    padding: 10px 10px 10px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: sizeDec 1s;
}
.job-row:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #05050579;
    z-index: 1;
    animation: sizeInc 1s forwards;
}
.job-row div {
    /* border: solid 1px #000; */
    margin: 1px;
}
#employerName{
    font-weight: bold;
    font-size: small;
    color: #585858;
}
#jobDescription,#employerName{
    text-align: left;
    padding-left: 10px;
}
#jobName{
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}
#budget{
    font-weight: bold;
}
@keyframes colorChangeIn {
    0%{
        border-color: rgb(135, 211, 255);
        /* transform: scale(1); */
    }
    50%{
        border-color: rgb(243, 182, 255);
    }
    100%{
        border-color: rgb(255, 135, 135);
        /* transform: scale(1.1) */
    }
}

@keyframes colorChangeout {
    0%{
        border-color: rgb(255, 135, 135);
        /* transform: scale(1.1); */
    }
    50%{
        border-color: rgb(243, 182, 255);
    }
    100%{
        border-color: rgb(135, 211, 255);
        /* transform: scale(1) */
    }
}
@keyframes sizeInc {
    0%{transform: scale(1); }
    100%{ transform: scale(1.1) }
}
@keyframes sizeDec {
    0%{transform: scale(1.1);}
    100%{ transform: scale(1) }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }